{% extends 'blog/base.html' %}

<!--
blog/base.htmlを読み込む（親テンプレート継承）
以下コメントから半角%を消して、全角％にしてる
Djangoはコメントアウトしてても｛％ ~ ％｝で囲ったものはテンプレートとして認識するため

テンプレートの共通部分は親テンプレートにまとめる

{％ extends 'base.html' ％}は親テンプレートとしてbase.htmlを継承。
このコードはコメントがあろうがとにかく一行目に無いと
TemplateSyntaxError at /
<ExtendsNode: extends 'blog/base.html'> must be the first tag in the template.

{％ block ％}, {％ endblock ％}で領域を確保し、子テンプレートで該当ブロックを置き換える
{％ block ％}にはデフォルト値を指定することも可能
{{ block.super }}で親テンプレートのデフォルト値を参照可能
-->

<!--
{％ block ％}, {％ endblock ％}は領域を確保するタグ
子テンプレートでこのblock内のHTMLを置き換えることができる
{％ block title ％}Django Boards{％ endblock ％}のようにデフォルト値を指定することもでき
子テンプレートで何も設定されない場合はこのデフォルト値が使用される。

このサンプルの場合、子テンプレートはpost_list.html
base.htmlに{％ block content ％}{％ endblock ％}を記述
記述した箇所に表示したいタグを以下に記載
-->

{% block content %}
      <a href="{% url 'stock_list' %}" ><h2>My Favorite Stock Code List（株価リスト）はこちらから</h2></a>
      {% for post in posts %}
        <div class="post">
          <div class="date">
            <p>published: {{ post.published_date }}</p>
          </div>
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
          <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
          <a href="{% url 'post_detail' pk=post.pk %}">承認済みComments: {{ post.approved_comments.count }}</a>
        </div>
      {% endfor %}
{% endblock %}
<!--
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: 2014/06/14, 12:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>
-->
